@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>


<a href="https://codewithmosh.com/p/privacy" target="_blank" rel="noopener">
    Privacy Policy – Code with Mosh Hamedani
</a>

